div id="week-container" class="container-fluid"

  javascript:
    window.WEEK_JSON = #{render('/weeks/week.json', @json_locals).html_safe} ;
    window.I18n = #{I18n.backend.send(:translations)[I18n.locale][:frontend].to_json.html_safe} ;