<div>
  <h3>What is this?</h3>
  <p>The site is designed to assist in the formation of evolutionary confidence (EC) and long-term development, the technology described by Bodhi here: <a href="http://bodhi.name/selekciya-privlekatelnyx-sostoyanij/mn-texnologiya/">link</a>.</p>
  <p>This site is a list of evolutionary activities (EA, or KD), which are distributed on tactical and main directions of development (TD and MD). The list of MD on the left, related lists of TD and EA in the middle. Lists can be edited at any time, you can also move items and paint MD.</p>
  <p>All EA have a counter of fragments (some volume of done EA). You can add one fragment with the + button, or add/deduct any amount (and fractional) if you click on the number next to the + button.</p>
  <p>Paw is the minimum number of fragments, that you want to do for a week (on this site, for convenience, such period was chosen). In MD's settings you can specify  paw for each MD for the current week (input field on the strip of progress).</p>
  <p>Each added fragment counts for current week (or past, if it selected). Each MD has a progress bar - how many fragments made in relation to the paw. On the right is shown a history of the progress of this and past weeks.</p>

  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_example.png"></a></p>

  <h4> Unobvious features:) </h4>
  <ul>
    <li> for editing, you can use the ESC and ENTER </li>
    <li> when adding a fractional fragment, you can write only 03, and will be added 0.3 </li>
    <li> You can print patina and hang it on the wall, or save it to a pdf file (print file) and show to friends </li>
  </ul>
</div>