<div>
  <h3>Что это?</h3>
  <p>Сайт предназначен для помощи в формировании эволюционной уверенности(ЭУ) и долгосрочном развитии, по технологии описанной Бодхи тут: <a href="http://bodhi.name/selekciya-privlekatelnyx-sostoyanij/mn-texnologiya/">ссылка</a>.</p>
  <p>Сайт представляет из себя списки эволюционной деятельности(ЭД, или КН), которые распределены по тактическим и магистральным направлениям развития(ТН и МН). Список МН слева, дочерние списки ТН и ЭД посередине. Списки можно редактировать в любой момент, также можно перемещать элементы, и раскрашивать МН.</p>
  <p>У всех ЭД есть счетчик фрагментов(какой-то объем выполненной ЭД). Можно засчитать +1 фраг кнопкой +, или засчитать любое количество(и дробное) если нажать на число рядом.</p>
  <p>Лапа, это минимальное количество фрагментов, которые хочется делать за неделю(на этом сайте, для удобства, выбран такой период). В настройках каждого МН можно задать лапу на текущую неделю (поле ввода на полосе прогресса).</p>
  <p>Каждый добавленный фрагмент засчитывается в текущую неделю(либо прошлую, если она выбрана). У каждой МН есть индикатор прогресса - сколько фрагментов сделано в соотношении к лапе. Справа от списков показана история прогресса за эту и прошлые недели.</p>

  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_example.png" class="img-responsive" alt="sample"></a></p>

  <h4>Неочевидные плюшки :)</h4>
  <ul>
    <li>при редактировании можно использовать клавиши ESC и ENTER</li>
    <li>при добавлении дробного фрагмента можно написать только 03, и добавится 0.3</li>
    <li>патину можно распечатать и повесить на сену, или сохранить в pdf файл(печать в файл) и показывать приятелям</li>
  </ul>
</div>