<h3>Развивайся, создавай позитивный настрой, и продлевай жизнь формируя долгосрочную эволюционную уверенность!</h3>
<p><img class="img-responsive" alt="some nice pic" src="https://dl.dropboxusercontent.com/u/92903914/showcase_eng.png"/></p>

