#flash div{
  margin-top: 32px;
}

.sessions {
  .login_form {
    .form-group {
      margin-right: 10px;
    }
  }

  .description_block {
    margin-top: 20px;
  }

}

.registrations {
  .registration_form {
    .form-group {
      margin-right: 10px;
    }
  }
}