// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weeks {
 .list-row>div {
    padding: 0 2px 0 2px;
  }

  .list-head {
    margin: 0 0 5px;
    line-height: 1.2;
  }

  .list-progress {
    margin: 0 0 10px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
  }

  #week-action-toggle {
    ul li a {
      padding: 2px 5px 2px 5px;
      text-align: center;
    }
  }

  .sector-content div.row {
    margin-left: -10px;
    margin-right: -10px;
  }
}