// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weeks {
 .list-row>div {
    padding: 0 2px 0 2px;
  }

  .list-head {
    margin: 0 0 5px;
    line-height: 1.2;
  }

  .list-progress {
    margin: 0 0 10px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
  }

  #week-action-toggle {
    ul li a {
      padding: 2px 5px 2px 5px;
      text-align: center;
    }
  }

  .sector-content {
    padding-top: 15px;
    padding-bottom: 5px;

    div.row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .errors_block {
      .errors_block_title {
        padding-left: 10px;
        padding-right: 10px;
      }
      .errors_block_body {
        
      }
    }
    .activity {
      label {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        line-height: 27px;
        margin-bottom: 0px;
      }
      .activity_input {
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        padding-left: 3px;
        width: calc(100% - 96px);
        line-height: 26px;
        border-bottom: 1px solid gray;
        input { 
          width: 100%;
          border: none;
          padding: 0;
          outline: none;
        }
      }
      button {
        border: none;
      }
    }
    .subsector {
      margin-bottom: 3px;
      label {
        font-size: 20px;
        font-weight: normal;
        line-height: 27px;
        margin-bottom: 0px;
        width: calc(100% - 32px);
      }
      .subsector_input {
        display: inline-block;
        font-size: 20px;
        font-weight: normal;
        padding-left: 4px;
        width: calc(100% - 96px);
        line-height: 27px;
        border-bottom: 1px solid gray;
        input { 
          width: 100%;
          border: none;
          padding: 0;
          outline: none;
          background-color: inherit;
        }
      }
      button {
        border: none;
        background-color: inherit;
      }
    }
    .subsector-add {
      margin-top: 5px;
      button {
        width: 100%;
        text-align: center;
        background-color: inherit;
        border: none;
      }
    }
  }
}