// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weeks {
 .list-row>div {
    padding: 0 2px 0 2px;
  }

  .list-head {
    margin: 0 0 5px;
    line-height: 1.2;
  }

  .list-progress {
    margin: 0 0 10px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
  }

  #week-action-toggle {
    ul li a {
      padding: 2px 5px 2px 5px;
      text-align: center;
    }
  }

  .sector-content {
    padding-top: 20px;
    padding-bottom: 5px;

    div.row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .errors_block {
      .errors_block_title {
        padding-left: 10px;
        padding-right: 10px;
      }
      .errors_block_body {
        
      }
    }
    .progress {
      margin-bottom: 10px;
    }
    .progress-icon {
      margin-right: 5px;
    }
    .activity button, .subsector button {
      border: none;
      background-color: inherit;
    }
    .activity_input, .subsector_input{
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        border-bottom: 1px solid gray;
        input { 
          width: 100%;
          border: none;
          padding: 0;
          outline: none;
          background-color: inherit;
        }
      }
    .activity_textarea, .subsector_textarea  {
      font-size: 13px;
      font-weight: normal;
      padding-left: 2px;
      padding-right: 2px;
      line-height: 20px;
      textarea { 
        width: 100%;
        border: none;
        padding: 0;
        outline: none;
        background-color: inherit;
        resize: vertical;
        overflow: hidden;
      }
    }

    .activity label, .subsector label {
      font-size: 16px;
      font-weight: normal;
      line-height: 27px;
      margin-bottom: 0px;
      background-color: inherit;
    }
    .activity {
      background-color: #F5F5F5;
      margin-top: 4px;
      label {
        width: calc(100% - 32px);
      }
      .activity_input {
        padding-left: 3px;
        width: calc(100% - 96px);
        line-height: 26px;
      }
    }
    .subsector {
      margin-top: 8px;
      label {
        width: calc(100% - 64px);
      }
      .subsector_input {
        padding-left: 4px;
        width: calc(100% - 96px);
        line-height: 27px;
      }
    }
    .subsector-add {
      margin-top: 5px;
      button {
        width: 100%;
        text-align: center;
        background-color: inherit;
        border: none;
      }
    }
  }
}